/**
 * Style v1
 * Design by VienNguyen
 */
body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}

/**
 * Common
 *
 */
input, select {
	border: 1px solid #8aa4c7;
	border-radius: 0;
	height: 34px;
	line-height: 32px;
	margin-bottom: 6px;
	padding: 0 17px 0 10px;
}
select {
	-webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/icons/dropdown.png) no-repeat transparent calc(100% - 3px) center/12px;
}
.textSuccess {
	color: #74b64a;
}
.textWarning {
	color: #db8a28;
}
.textDanger {
	color: #8f1e2d;
}
.textPrimary {
	color: #7588b1;
}
.iconArrowDown {
	background: url(../images/icons/arrow-down.png) no-repeat transparent left center/18px;
}
.iconArrowRight {
	background: url(../images/icons/arrow-right.png) no-repeat transparent left center/18px;
}
.iconBankOffers {
	background: url(../images/icons/bank-offers.png) no-repeat transparent 4px center/20px;
}
.iconDollar {
	background: url(../images/icons/dollar.png) no-repeat transparent center center/contain;
}
.iconEdit {
	background: url(../images/icons/edit.png) no-repeat transparent 4px center/20px;
}
.iconSearch {
	background: url(../images/icons/search.png) no-repeat transparent 4px center/20px;
}
.iconDelete {
	background: url(../images/icons/delete.png) no-repeat transparent 4px center/20px;
}
.controlCollapse {
	cursor: pointer;
}
.bgLightBlue {
	background: #ebeff3;
}
.bgWhite {
	background: #fff;
}
.borderLightBlue {
	box-shadow: inset 0px 0px 0px 1px #cad7e6;
}
.pullRight {
	float: right;
}
.pullLeft {
	float: left;
}


/**
 * Main content
 *
 */
.content-container {
	background: #ebeff3;
	padding: 10px;
}
.content-container .content-wrapper {
	overflow-x: auto;
}
.content-container .content-inner {
	background: #fff;
	min-width: 960px;
	padding: 3px 15px 15px;
}
.content-container .content-inner .statistics {
	min-height: 40px;
	margin-top: 5px;
}
.content-container .content-inner .statistics-inner {
	border-bottom: 1px solid #8aa4c7;
	padding: 5px 10px;
}
.content-container .content-inner .statistics-inner .stat {
	height: 30px;
	padding: 0 20px;
	border-right: 1px solid #8aa4c7;
	display: inline-block;
	float: left;
}
.content-container .content-inner .statistics-inner .stat:first-child, 
.content-container .content-inner .statistics-inner .stat:last-child {
	border: 0;
}
.content-container .content-inner .statistics-inner .stat:first-child {
	border: 0;
	margin-left: -8px;
	padding: 0 2px 0 0;
	font-weight: 700;
	font-size: 18px;
}
.content-container .content-inner .statistics-inner .stat .iconDollar {
	width: 20px;
	height: 28px;
	display: inline-block;
	background-size: 16px;
}
.content-container .content-inner .statistics-inner .stat p {
	margin: 0;
	line-height: 30px;
}
.content-container .content-inner .statistics-inner .stat span {
	margin: 0 5px;
}
.content-container .content-inner .statistics-inner .stat span.explain {
	font-size: 12px;
}

.content-container .content-detail {
	margin-top: 20px;
}
.content-container .content-detail h2.title {
	font-size: 18px;
}
.content-container .control-panel {
	height: 40px;
	position: relative;
}
.content-container .control-panel>* {
	display: inline-block;
}
.content-container .control-panel .controlCollapse {
	color: #8aa4c7;
	padding: 0 5px 0 20px;
	line-height: 34px;
	margin: 0 0 6px;
	font-size: 14px;
	font-weight: 400;
}
.content-container .control-panel .filter {
	color: #8aa4c7;
	height: 34px;
	margin: 0 0 6px;
}
.content-container .control-panel .filter p {
	line-height: 34px;
	margin: 0 5px 6px 5px;
	display: inline-block;
	float: left;
}
.content-container .control-panel .filter select {
	margin-right: 10px;
}
.content-container .control-panel .filter select.filter-row {
	width: 150px;
}
.content-container .control-panel .filter select.currency {
	width: 60px;
}
.content-container .control-panel .name-column, .data-money {
	width: 340px;
}
.content-container .control-panel .name-column {
	position: absolute;
	left: 388px;
}
.content-container .control-panel .name-column p {
	width: 25%;
	float: left;
	text-align: center;
	line-height: 40px;
	color: #fff;
	border-right: 1px solid #a1b7d2;
	margin: 0;
	background: #8aa4c7; 
}
.content-container .control-panel .name-column p:last-child {
	border: 0;
}
.content-container .control-panel .search-box {
	width: 200px;
	padding-left: 10px;
}
.content-container .control-panel .search-box input {
	width: 100%;
	padding-left: 26px;
}

.content-container .main-content {
	border: 1px solid #8aa4c7;
}
.content-container .head-collapse {
	padding: 5px;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.content-container .sub-collapse .head-collapse .controlCollapse {
	display: inline-block;
	font-size: 14px;
	padding: 0 10px 0 20px;
	line-height: 30px;
	margin: 0;
	float: left;
}
.content-container .data-money {
	position: absolute;
	left: 387px;
}
.content-container .head-collapse-2 .data-money {
	left: 367px;
}
.content-container .head-collapse-3 .data-money {
	left: 347px;
}
.content-container .head-collapse-4 .data-money {
	left: 327px;
}
.content-container .head-collapse-5 .data-money {
	left: 307px;
}
.content-container .data-money div p {
	width: 25%;
	margin: 0;
	border-right: 1px solid #c5d3e3;
	float: left;
	line-height: 30px;
	text-align: center;
}
.content-container .data-money div:first-child p {
	border-left: 1px solid #c5d3e3;
}
.content-container .sub-content {
	margin: 0 10px 0 20px;
}
.content-container .sub-collapse {
	margin-bottom: 5px;
    padding-bottom: 5px;
}
.content-container .item-name {
	display: inline-block;
	float: left;
	line-height: 30px;
	padding-left: 15px;
}
.content-container .action {
	float: right;
}
.content-container .action button {
	border: 0;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
    color: #6074a2;
    cursor: pointer;
    padding: 0 10px 0 20px;
    float: right;
}
.content-container .action button.iconEdit {
	background-position: -5px;
	background-size: 30px;
}
.content-container .action button.btnAdd {
	border-left: 1px solid #c5d3e3;
	padding: 0 10px;
}
.content-container .action button.btnAdd span {
	font-size: 16px;
	font-weight: 600;
}
.content-container .action button.btnDelete {
    background-size: 30px;
    padding: 0;
    width: 40px;
    height: 30px;
    text-align: center;
    background-position: 0px;
    margin-left: 5px;
}
.content-container .action button.btnDone {
	line-height: 30px;
	height: 30px;
	background: #6074a2;
	color: #fff;
	padding: 0 40px;
}
.content-container .mode-add {
	text-align: center;
	height: 40px;
}
.content-container .mode-add .head-collapse .form {
	display: inline-block;
}
.content-container .mode-add .head-collapse .form>* {
	float: left;
	margin: 0;
	height: 30px;
	line-height: 28px;
	margin: 0 7px;
}
.content-container .mode-add .head-collapse .form p {
	line-height: 30px;
}

.content-container .area-action button {
	border: 0;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
    color: #6074a2;
    cursor: pointer;
    padding: 0 10px 0 0px;
    margin: 0 0 5px 0;
}

.content-container .add-category {
	padding: 4px;
}
.content-container .add-category>*{
	display: inline-block;
}
.content-container .add-category input {
	margin: 0;
}
.content-container .add-category .data-money {
	height: 34px;
	left: 418px;
}
.content-container .add-category .data-money div {
	width: 25%;
	margin: 0;
	border-right: 1px solid #c5d3e3;
	float: left;
	height: 34px;
	text-align: center;
	padding: 0 2px;
}
.content-container .add-category .data-money div:first-child {
	border-left: 1px solid #c5d3e3;
}
.content-container .add-category .data-money input {
	width: 100%;
}
.content-container .add-category .action button {
	height: 34px;
	line-height: 34px;
}
.finance-detail table {
	width: 100%;
	margin-bottom: 10px;
}

.content-container table th {
	background: #7588b1;
    color: #fff;
    padding: 5px 15px;
    text-align: center;
    font-weight: 400;
	border-left: 1px solid #dce4ee;
}
.content-container table th:last-child {
	border-left: 0;
	border-right: 1px solid #dce4ee;
}
.content-container table th:first-child,
.content-container table td:first-child {
	text-align: left;
}
.content-container table td {
    padding: 5px 15px;
    text-align: center;
    line-height: 30px;
	border-bottom: 1px solid #dce4ee;
	border-left: 1px solid #dce4ee;
}
.content-container table td:last-child {
	border: 0;
	border-bottom: 1px solid #dce4ee;
	border-right: 1px solid #dce4ee;
	width: 220px;
}
.content-container table td input,
.content-container table td select {
	margin: 0;
	line-height: 28px;
	height: 30px;
	width: 100%;
}
.content-container table td .action .btnEdit {
	margin: 0;
	line-height: 28px;
	height: 30px;
	border: 1px solid #dce4ee;
	padding: 0 15px 0 35px;
	background-position: 5px;
}

/*Finance page*/
.finance-detail .control-panel .total {
    text-align: center;
    line-height: 40px;
    color: #fff;
    margin: 0 20px 0 0;
    background: #8aa4c7;
    width: 120px;
}
.finance-detail .control-panel .currency,
.finance-detail .control-panel .search-box {
	margin-right: 10px;
}
.finance-detail .data-total {
	overflow: hidden;
	float: right;
	margin-right: 15px;
}
.finance-detail .head-collapse-2 .data-total {
	margin-right: 5px;
}
.finance-detail .head-collapse-3 .data-total {
	margin-right: -5px;
}
.finance-detail .head-collapse-4 .data-total {
	margin-right: -15px;
}
.finance-detail .data-total p {
	margin: 0;
	height: 30px;
	line-height: 30px;
	width: 120px;
	text-align: center;
}
.finance-detail .bank-offer p {
	margin: 0 50px 0 0;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	color: #6074a2
}
.finance-detail .bank-offer p span {
	display: inline-block;
	width: 30px;
	height: 30px;
	float: left;
	background-size: 24px;
	background-position: 0px -7px;
}