@media screen and (max-width: 1200px) {
	.control-panel-fixed {
		position: relative !important;
	}
}

@media screen and (max-width: 767px) {
	.menu-auto .next-menu .ws-ws_caret-up {
		display: none;
	}
	.menu-auto .menu-sublink-wrapper>a {
		font-size: 16px;
		color: #8BA5C6 !important;
	}
	.menu-auto .menu-sublink-wrapper>a:hover {
		background: transparent;
		color: #8BA5C6;
	}
	.menu-auto .next-menu a {
		padding: 6px 15px 6px 25px !important;
	}
	.menu-auto .next-submenu a {
		padding: 6px 15px 6px 35px !important;
	}
	.menu-auto .menu-sublink-wrapper img {
		margin: 0 !important;
	}

	/*invitation quote*/
	.quote-gallery {
	    height: auto;
	}
	.quote-gallery .quote-img {
		width: 100% !important;
		position: static;
	}
	.quote-gallery .quote-data {
		position: static;
	}
	/*quote*/
	.quote-detail {
		padding-left: 15px;
		text-align: left;
	}
	/*invitation card*/
	.invitation-card-tab .paper-info {
	    border: 1px solid #cad8e5;
	}
	.paper-info-footer button {
        border: 1px solid #cad8e5;
        border-left: 0;
	}
	.invitation-card-tab .carousel,
	.invitation-card-tab .paper-info {
		height: auto;
	}
	.paper-info-footer {
		position: initial;
	}
}

@media screen and (max-width: 480px) {
	.manually-modal .modal-content {
		padding: 0;
	}
	.manually-modal .form-group>div {
		width: 100%;
	}
	.manually-modal .form-group div:first-child {
		text-align: left;
		padding: 0 15px;
	}
	.manually-modal .form-group.form-button>div {
		margin: 0;
	}
	.manually-modal .form-group.form-w-50 input, 
	.manually-modal .form-group.form-w-50 select, 
	.manually-modal .form-group.form-w-50 textarea {
		width: 100%;
	}

	.invite-facebook-modal .modal-body .list-friends>div {
		width: 100%;
	}
}