/**
 * Style v1
 * Design by VienNguyen
 */
body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}

/**
 * Common
 *
 */
input, select, textarea {
	border: 1px solid #8aa4c7;
	padding: 5px 10px;
}
input, select {
	border: 1px solid #8aa4c7;
	border-radius: 0;
	height: 34px;
	line-height: 32px;
	margin-bottom: 6px;
	padding: 0 17px 0 10px;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(../img/icons/dropdown.png) no-repeat transparent calc(100% - 3px) center/12px;
}

/*text*/
.textSuccess {
	color: #74b64a;
}
.textWarning {
	color: #db8a28;
}
.textDanger {
	color: #8f1e2d;
}
.textPrimary {
	color: #7588b1;
}

/*icon*/
.iconArrowDown {
	background: url(../img/icons/arrow-down.png) no-repeat transparent left center/18px;
}
.iconArrowRight {
	background: url(../img/icons/arrow-right.png) no-repeat transparent left center/18px;
}
.iconBankOffers {
	background: url(../img/icons/bank-offers.png) no-repeat transparent 4px center/20px;
}
.iconDollar {
	background: url(../img/icons/dollar.png) no-repeat transparent center center/contain;
}
.iconEdit {
	background: url(../img/icons/edit.png) no-repeat transparent 4px center/20px;
}
.iconSearch {
	background: url(../img/icons/search.png) no-repeat transparent 4px center/20px;
}
.iconDelete {
	background: url(../img/icons/delete.png) no-repeat transparent 4px center/20px;
}

/*background*/
.bgLightBlue {
	background: #ebeff3;
}
.bgWhite {
	background: #fff;
}
.bgBlue {
	background: #6074a2;
	color: #fff;
}
.bgBlue:hover {
	background: #516696;
	color: #fff;
}

/*badge*/
.badgeLightBlue {
	background: #8aa4c7;
	padding: 7px 17px !important;
	color: #fff;
	border-radius: 30px;
}

.borderLightBlue {
	box-shadow: inset 0px 0px 0px 1px #cad7e6;
}
.pullRight {
	float: right;
}
.pullLeft {
	float: left;
}
.controlCollapse {
	cursor: pointer;
}
.iconRotate180:before {
	transform: rotate(180deg);
	display: inline-block;
}
.iconRotate90:before {
	transform: rotate(90deg);
	display: inline-block;
}

/*checbox*/
input.custom-checkbox {
	display: none;
}
.label-checkbox {
	border: 2px solid #c8d5e6;
	height: 22px;
	width: 22px;
	border-radius: 4px;
	display: inline-block;
	margin: 0;
}
.label-checkbox:after {
	border: solid #fff;
	margin: 1px auto auto 6px;
	width: 6px;
	height: 13px;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	content: '';
	display: none;
}
input:checked ~ .label-checkbox {
	background: #6074a2;
	border: 2px solid #6074a2;
}
input:checked ~ .label-checkbox:after {
	display: block;
}

/*dropdown*/
.dropdown-menu-selected {
	position: absolute;
	top: 100%;
	right: 0;
	border-radius: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.open>.dropdown-menu-selected {
	display: block;
}
.dropdown-menu-selected .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

/*sidebar link*/
.sidebar-link {
	width: 100%;
	border: 1px solid #cad7e6;
}
.sidebar-link li {
	width: 100%;
	border-bottom: 1px solid #cad7e6;
}
.sidebar-link li:last-child {
	border-bottom: 0px solid #cad7e6;
}
.sidebar-link li.sidebar-link-header {
	font-weight: 600;
	padding: 0 15px;
	line-height: 32px;
}
.sidebar-link li a {
	width: 100%;
	line-height: 32px;
	padding: 0 15px;
	display: block;
}
.sidebar-link li a:hover,
.sidebar-link li a.active,
.sidebar-link li a.active span {
	background: #6074a2;
	color: #fff;
}
.sidebar-link li a span {
	float: right;
	line-height: 32px;
	font-weight: 600;
}

/**
 * Main content
 *
 */
.content-container .content-wrapper {
	overflow-x: auto;
}
.content-container .content-inner {
	background: #fff;
	min-width: 1110px;
	padding: 3px 15px 15px;
}
.content-container .content-inner .statistics {
	min-height: 40px;
	margin-top: 5px;
}
.content-container .content-inner .statistics-inner {
	border-bottom: 1px solid #8aa4c7;
	padding: 5px 10px;
}
.content-container .content-inner .statistics-inner .stat {
	height: 30px;
	padding: 0 20px;
	border-right: 1px solid #8aa4c7;
	display: inline-block;
	float: left;
}
.content-container .content-inner .statistics-inner .stat:first-child, 
.content-container .content-inner .statistics-inner .stat:last-child {
	border: 0;
}
.content-container .content-inner .statistics-inner .stat:first-child {
	border: 0;
	margin-left: -8px;
	padding: 0 2px 0 0;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
}
.content-container .content-inner .statistics-inner .stat .iconDollar {
	width: 20px;
	height: 28px;
	display: inline-block;
	background-size: 16px;
}
.content-container .content-inner .statistics-inner .stat p {
	margin: 0;
	line-height: 30px;
}
.content-container .content-inner .statistics-inner .stat span {
	margin: 0 5px;
}
.content-container .content-inner .statistics-inner .stat span.explain {
	font-size: 12px;
}

.content-container .content-detail {
	margin-top: 20px;
}
.content-container .content-detail h2.title {
	font-size: 18px;
}
.content-container .control-panel {
	height: 40px;
	position: relative;
}
.control-panel-fixed {
	position: fixed !important;
	width: 1110px !important;
	top: 0 !important;
	left: calc(50% - 555px) !important;
	background: #e0e0e0 !important;
	z-index: 9999 !important;
	height: 50px !important;
	padding: 5px 5px 0 0 !important;
}
.content-container .control-panel>* {
	display: inline-block;
}
.content-container .control-panel .controlCollapse {
	color: #8aa4c7;
	padding: 0 5px 0 20px;
	line-height: 34px;
	margin: 0 0 6px;
	font-size: 14px;
	font-weight: 400;
}
.content-container .control-panel .filter {
	color: #8aa4c7;
	height: 34px;
	margin: 0 0 6px;
}
.content-container .control-panel .filter p {
	line-height: 34px;
	margin: 0 5px 6px 5px;
	display: inline-block;
	float: left;
}
.content-container .control-panel .filter select {
	margin-right: 10px;
}
.content-container .control-panel .filter select.filter-row {
	width: 150px;
}
.content-container .control-panel .filter select.currency {
	width: 60px;
}
.content-container .control-panel .name-column, .data-money {
	width: 400px;
}
.content-container .control-panel .name-column {
	position: absolute;
	left: 412px;
}
.content-container .control-panel .name-column p {
	width: 25%;
	float: left;
	text-align: center;
	line-height: 40px;
	color: #fff;
	border-right: 1px solid #a1b7d2;
	margin: 0;
	background: #8aa4c7; 
}
.content-container .control-panel .name-column p:last-child {
	border: 0;
}
.content-container .control-panel .search-box {
	width: 200px;
	padding-left: 10px;
}
.content-container .control-panel .search-box input {
	width: 100%;
	padding-left: 26px;
}

.content-container .main-content {
	border: 1px solid #8aa4c7;
}
.content-container .head-collapse {
	padding: 5px;
	width: 100%;
	position: relative;
}
.content-container .head-collapse:before,
.content-container .head-collapse:after {
	display: table;
	content: " ";
	clear: both;
}
.content-container .sub-collapse .head-collapse .controlCollapse {
	display: inline-block;
	font-size: 14px;
	padding: 0 10px 0 20px;
	line-height: 30px;
	margin: 0;
	float: left;
}
.content-container .data-money {
	position: absolute;
	left: 411px;
}
.content-container .head-collapse-2 .data-money {
	left: 391px;
}
.content-container .head-collapse-3 .data-money {
	left: 371px;
}
.content-container .head-collapse-4 .data-money {
	left: 351px;
}
.content-container .head-collapse-5 .data-money {
	left: 331px;
}
.content-container .head-collapse-6 .data-money {
	left: 311px;
}
.content-container .head-collapse-7 .data-money {
	left: 291px;
}
.content-container .head-collapse-8 .data-money {
	left: 271px;
}
.content-container .data-money div p {
	width: 25%;
	margin: 0;
	border-right: 1px solid #c5d3e3;
	float: left;
	line-height: 30px;
	text-align: center;
}
.content-container .data-money div:first-child p {
	border-left: 1px solid #c5d3e3;
}
.content-container .sub-content {
	margin: 0 10px 0 20px;
}
.content-container .sub-collapse {
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.content-container .item-name {
	display: inline-block;
	float: left;
	line-height: 30px;
	padding-left: 15px;
}
.content-container .action {
	float: right;
}
.content-container .action button {
	border: 0;
	height: 30px;
	line-height: 30px;
	background-color: transparent;
	color: #6074a2;
	cursor: pointer;
	padding: 0 10px 0 20px;
	float: right;
}
.content-container .action button.iconEdit {
	background-position: -5px;
	background-size: 30px;
}
.content-container .action button.btnAdd {
	border-left: 1px solid #c5d3e3;
	padding: 0 10px;
}
.content-container .action button.btnAdd span {
	font-size: 16px;
	font-weight: 600;
}
.content-container .action button.btnDelete {
	background-size: 30px;
	padding: 0;
	width: 40px;
	height: 30px;
	text-align: center;
	background-position: 0px;
	margin-left: 5px;
}
.content-container .action button.btnDone {
	line-height: 30px;
	height: 30px;
	background: #6074a2;
	color: #fff;
	padding: 0 40px;
}
.content-container .mode-add {
	text-align: center;
	height: 40px;
}
.content-container .mode-add .head-collapse .form {
	display: inline-block;
}
.content-container .mode-add .head-collapse .form>* {
	float: left;
	margin: 0;
	height: 30px;
	line-height: 28px;
	margin: 0 7px;
}
.content-container .mode-add .head-collapse .form p {
	line-height: 30px;
}
.content-container .mode-add .head-collapse .form .formGroup .dropdown,
.content-container .mode-add .head-collapse .form .formGroup input {
	float: left;
	height: 30px;
	line-height: 28px;
	margin: 0 0 0 -1px;
}

.content-container .mode-add .head-collapse .form .formGroup .dropdown button {
	border: 1px solid #8aa4c7;
	border-radius: 0;
	height: 30px;
	line-height: 28px;
	margin: 0;
	padding: 0 10px;
}

.content-container .area-action button {
	border: 0;
	height: 30px;
	line-height: 30px;
	background-color: transparent;
	color: #6074a2;
	cursor: pointer;
	padding: 0 10px 0 0px;
	margin: 0 0 5px 0;
}

.content-container .add-category {
	padding: 4px;
	position: relative;
}
.content-container .add-category>*{
	display: inline-block;
}
.content-container .add-category input,
.content-container .add-category select {
	margin: 0;
	width: 220px;
	background-color: #fff;
}
.content-container .add-category .category-name input {
	display: none;
}
.content-container .add-category .category-name.formControl input {
	display: block;
}
.content-container .add-category .category-name.formControl select {
	display: none;
}
.content-container .add-category .data-money {
	height: 34px;
	left: 391px;
}
.content-container .add-category .data-money .wrap-text-input {
	width: 25%;
	margin: 0;
	border-right: 1px solid #c5d3e3;
	float: left;
	height: 34px;
	text-align: center;
	padding: 0 2px;
}
.content-container .add-category .data-money .wrap-text-input:first-child {
	border-left: 1px solid #c5d3e3;
}
.content-container .add-category .data-money input {
	width: 100%;
}
.content-container .add-category .action button {
	height: 34px;
	line-height: 34px;
}
.finance-detail table {
	width: 100%;
	margin-bottom: 10px;
}

.content-container table th {
	background: #7588b1;
	color: #fff;
	padding: 5px 15px;
	text-align: center;
	font-weight: 400;
	border-left: 1px solid #dce4ee;
}
.content-container table th:last-child {
	border-left: 0;
	border-right: 1px solid #dce4ee;
}
.content-container table th:first-child,
.content-container table td:first-child {
	text-align: left;
}
.content-container table td {
	padding: 5px 15px;
	text-align: center;
	line-height: 30px;
	border-bottom: 1px solid #dce4ee;
	border-left: 1px solid #dce4ee;
}
.content-container table td:last-child {
	border: 0;
	border-bottom: 1px solid #dce4ee;
	border-right: 1px solid #dce4ee;
	width: 220px;
}
.content-container table td input,
.content-container table td select {
	margin: 0;
	line-height: 28px;
	height: 30px;
	width: 100%;
}
.content-container table td .action .btnEdit {
	margin: 0;
	line-height: 28px;
	height: 30px;
	border: 1px solid #dce4ee;
	padding: 0 15px 0 35px;
	background-position: 5px;
}

/*Finance page*/
.finance-detail .control-panel .total {
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin: 0 20px 0 0;
	background: #8aa4c7;
	width: 120px;
}
.finance-detail .control-panel .currency,
.finance-detail .control-panel .search-box {
	margin-right: 10px;
}
.finance-detail .data-total {
	overflow: hidden;
	float: right;
	margin-right: 15px;
}
.finance-detail .head-collapse-2 .data-total {
	margin-right: 5px;
}
.finance-detail .head-collapse-3 .data-total {
	margin-right: -5px;
}
.finance-detail .head-collapse-4 .data-total {
	margin-right: -15px;
}
.finance-detail .data-total p {
	margin: 0;
	height: 30px;
	line-height: 30px;
	width: 120px;
	text-align: center;
}
.finance-detail .bank-offer a {
	margin: 0 50px 0 0;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	color: #6074a2
}
.finance-detail .bank-offer a span {
	display: inline-block;
	width: 30px;
	height: 30px;
	float: left;
	background-size: 24px;
	background-position: 0px -7px;
}


/*Subpage*/
.subpage-content-container {
	background: #fff;
}
.subpage-title {
	min-height: 60px;
	padding: 10px 0;
	margin: 0 25px 0;
	border-bottom: 1px solid #cad8e5;
}
.subpage-title > * {
	display: inline-block;
	float: left;
}
.subpage-title h2 {
	font-size: 22px;
	line-height: 40px;
	margin: 0 15px 0 0;
	text-transform: capitalize;
}
.subpage-title .badge {
	margin: 7px 25px 7px 0;
}
.subpage-title button {
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	text-transform: capitalize;
	border-radius: 0;
	width: 150px;
}
.subpage-title button.dropdown-toggle {
	border-left: solid 1px #fff !important;
	padding: 0 !important;
	width: auto;
	width: 40px;
}
.subpage-title button.dropdown-toggle:focus {
	color: #fff !important;
}
.subpage-content {
	padding: 25px;
}

/*add invitee*/
.add-invitee-content {
	width: 100%;
	height: 300px;
	text-align: center;
}
.add-invitee-content .iconInvitee {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 50px auto 15px;
	font-size: 190px;
	position: relative;
}
.add-invitee-content .iconInvitee .ws-ws_invitees_empty span {
	position: absolute;
	width: 100%;
	height: 100%;
}
.add-invitee-content .iconInvitee .ws-ws_invitees_empty span:before {
	margin: 0;
}
.add-invitee-content p {
	font-size: 20px;
	color: #8aa4c6;
	margin-bottom: 25px;
}

/*manually modal*/
.manually-modal img {
	width: 100px;
}
.manually-modal .modal-content {
	padding: 10px 20px;
	background: #fff;
	color: #848383;
}
.manually-modal .modal-body .form-full-name>div {
	float: left;
}
.manually-modal .modal-body .form-full-name .gender {
	width: 50px;
	margin-right: 10px;
	padding: 0 !important;
}
.manually-modal .modal-body .form-full-name .fullname {
	width: calc(100% - 60px);
	border: 1px solid #8aa4c7;
	padding: 0;
}
.manually-modal .modal-body .form-full-name .fullname input,
.manually-modal .modal-body .form-full-name .fullname select {
	height: 32px;
	line-height: 32px;
	border: 0px solid #8aa4c7;
	float: left;
	width: 85px;
}
.manually-modal .modal-body .form-full-name .fullname input {
	width: calc(100% - 85px);
}
.manually-modal .modal-body h1 {
	font-size: 34px;
	text-transform: initial;
	margin: 0;
	border-bottom: 1px solid #cad8e5;
	line-height: 52px;
}
.manually-modal .area-avatar {
	text-align: center;
	padding: 20px 0;
}
.manually-modal .area-avatar .wrap-avatar {
	display: inline-block;
	position: relative;
}
.manually-modal .area-avatar .wrap-avatar input {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	margin: 0;
	font-size: 0;
	cursor: pointer;
	display: block;
	padding: 0;
	width: 100%;
	height: 100%;
}
.manually-modal .area-avatar .number {
	font-size: 32px;
	color: #c8d5e6;
}
.manually-modal .form-group div:first-child {
	padding: 0;
	text-align: right;
}
.manually-modal .form-group div:last-child {
	padding: 0 15px;
}
.manually-modal .form-group input,
.manually-modal .form-group select,
.manually-modal .form-group textarea {
	margin: 0;
	background-color: #fff;	
	width: 100%;
}
.manually-modal .form-group.form-w-50 input,
.manually-modal .form-group.form-w-50 select,
.manually-modal .form-group.form-w-50 textarea {
	width: 50%;
}
.manually-modal .form-group button {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 40px;
	line-height: 40px;
	text-transform: capitalize;
	border-radius: 0;
}
.manually-modal .form-group label {
	margin: 0;
	line-height: 34px;
}


/*invite facebook modal*/
.invite-facebook-modal .modal-content {
	padding: 10px 20px;
	background: #fff;
	color: #848383;
}
.invite-facebook-modal .modal-body h1 {
	font-size: 34px;
	text-transform: initial;
	margin: 0;
	border-bottom: 1px solid #cad8e5;
	line-height: 52px;
}
.invite-facebook-modal .modal-body input[type="checkbox"] {
	display: none;
}
.invite-facebook-modal .modal-body img {
	width: 44px;
	height: 44px;
}
.invite-facebook-modal .modal-body .list-friends {
	padding: 20px 5px 10px;
}
.invite-facebook-modal .modal-body .list-friends .friend label{
	width: 100%;
	margin-bottom: 15px;
}
.invite-facebook-modal .modal-body .list-friends .friend .label-checkbox{
	position: relative;
	margin-right: 10px;
	top: 7px;
}
.invite-facebook-modal .modal-body .list-friends .friend p {
	margin: 0;
	text-transform: capitalize;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	width: calc(100% - 90px);
	position: relative;
	top: 5px;
}
.invite-facebook-modal .modal-body button {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 40px;
	line-height: 40px;
	text-transform: capitalize;
	border-radius: 0;
}

/*list-people-content*/
.list-people-content .statistic-danger {
	background: rgba(232, 124, 100, 0.9);
}
.list-people-content .statistic-primary {
	background: rgba(122, 165, 240, 0.9);
}
.list-people-content .statistic-success {
	background: rgba(192, 213, 129, 0.9);
}
.list-people-content .statistic-warning {
	background: rgba(243, 216, 117, 0.9);
}
.list-people-content .list-people-statistic {
	border-bottom: 1px solid #cad8e5;
	padding: 0 0 12px;
	margin-top: -10px;
	color: #455964;
	position: relative;
	overflow: hidden;
}
.list-people-statistic .statistic-circle {
	position: absolute;
	overflow: hidden;
	transform: translateY(55%);
	vertical-align: middle;
	bottom: 0;
}
.list-people-statistic .statistic-circle .statistic {
	border-radius: 100%;
	margin-left: -50px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	position: relative;
}
.list-people-statistic .statistic-circle .statistic:first-child {
	margin-left: 0;
}
.list-people-statistic .statistic-circle .statistic.circle-size-1 {
	width: 100px;
	height: 100px;
	font-size: 20px;
	line-height: 40px;
	z-index: 1;
}
.list-people-statistic .statistic-circle .statistic.circle-size-2 {
	width: 150px;
	height: 150px;
	font-size: 23px;
	line-height: 66px;
	z-index: 2;
}
.list-people-statistic .statistic-circle .statistic.circle-size-3 {
	width: 200px;
	height: 200px;
	font-size: 26px;
	line-height: 100px;
	z-index: 3;
}
.list-people-statistic .statistic-circle .statistic.circle-size-4 {
	width: 250px;
	height: 250px;
	font-size: 29px;
	line-height: 120px;
	z-index: 4;
}
.list-people-statistic .statistic-rectangle .statistic {
	text-align: right;
	height: 34px;
	line-height: 34px;
	margin-bottom: 6px;
	padding: 0 10px;
	min-width: 180px;
}
.list-people-search {
	width: 100%;
	margin: 20px 0 0 0;
	position: relative;
}
.list-people-search .l-auto-complete {
	border: 1px solid #8aa4c7;
	min-width: 300px;
	display: inline-block;
	margin: -1px 0 0 0;
	box-shadow: 0px 0px 3px 1px #eee;
	padding: 15px 12px 5px;
	max-height: 250px;
	overflow-y: auto;
	position: absolute;
	z-index: 9999;
	background: #fff;
}
.list-people-search .l-auto-complete li {
	line-height: 24px;
	margin-bottom: 5px;
}
.list-people-search .l-auto-complete li.s-result {
	cursor: pointer;
}
.list-people-search .l-auto-complete li.s-result:hover span {
	color: #8aa4c7;
}
.list-people-search .l-auto-complete span {
	font-size: 18px;
	color: #7f7f7f;
}
.list-people-search .l-auto-complete span:before {
	font-size: 18px;
	color: #8aa4c7;
	margin: 0 7px 0 0;
}
.list-people-search .search-area {
	border: 1px solid #8aa4c7;
	padding: 0 7px;
}
.list-people-search .search-area .l-selected {
	display: inline-block;
	border-radius: 4px;
	padding: 0 5px;
	background: #dee6f0;
	line-height: 28px;
}
.list-people-search .search-area .l-selected span.l-cancel {
	position: relative;
	top: 1px;
	left: 3px;
}
.list-people-search .search-area .l-selected span.l-cancel:before {
	color: #8aa4c7;
	font-size: 16px;
	cursor: pointer;
	margin: 0;
	font-weight: 600;
}
.list-people-search .search-area .l-selected span {
	color: #7f7f7f;
}
.list-people-search .search-area .l-selected span:before {
	color: #455964;
	margin-right: 5px;
}
.list-people-search .search-area input {
	border: 0px solid #8aa4c7;
	margin: 0;
}
.list-people-search .search-area span.ws-ws_search {
	font-size: 20px;
	color: #bac3d8;
	top: 3px;
	position: relative;
}
.list-peoples {
	margin-top: 15px;
	overflow-x: auto;
}
.list-peoples ul {
	min-width: 670px;
}
.list-peoples ul li {
	margin-bottom: 8px;
	border: 1px solid #fff;
	position: relative;
	padding: 0 5px;
}
.list-peoples ul li.list-people-body {
	padding: 7px 5px 5px;
}
.list-peoples ul li.list-people-body input:checked ~ .l-overlay {
	background: #dee6f0;
	border: 1px solid #c8d5e6;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.list-peoples ul li.list-people-header select {
	border: 0;
	font-size: 14px;
	font-weight: 600;
	padding-left: 0;
	padding-right: 25px;
	background-size: 16px;
}
.list-peoples ul li.list-people-header p {
	color: #7f7f7f;
	font-size: 14px;
	line-height: 34px;
	margin: 0;
	font-weight: 600;
}
.list-peoples ul li>div {
	float: left;
	margin-right: 15px;
	position: relative;
	z-index: 1;
}
.list-peoples ul li>div.l-input {
	position: static;
}
.list-peoples ul li>div.l-guests {
	width: 210px;
}
.list-peoples ul li>div.l-events {
	width: 20%;
}
.list-peoples ul li>div.l-circles {
	width: 18%;
}
.list-peoples ul li>div.l-invitation {
	width: calc(62% - 370px);
}
.list-peoples ul li>div:last-child {
	margin-right: 0;
}
.list-peoples ul li input,
.list-peoples ul li select {
	margin: 0;
}
.list-peoples li .label-checkbox {
	position: relative;
	top: 11px;
}
.list-peoples li.list-people-header .label-checkbox {
	top: 5px;
}
.list-peoples li.list-people-body .l-guests img {
	width: 44px;
	height: 44px;
	float: left;
}
.list-peoples li.list-people-body .l-guests .people-info {
	width: calc(100% - 44px);
	float: left;
	position: relative;
	padding-left: 10px;
}
.list-peoples li.list-people-body .l-guests .people-info .name {
	font-size: 14px;
	color: #006cd8;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 82%;
	margin: 0 0 6px 0;
	border: 0;
}
.list-peoples li.list-people-body .l-guests .people-info .info span {
	font-size: 20px;
	margin: 0 6px 0 0;
	color: #888;
}
.list-peoples li.list-people-body .l-guests .people-info .info a.active span {
	color: #006cd8;
}
.list-peoples li.list-people-body .l-guests .people-info .badge {
	position: absolute;
	right: -3px;
	top: -3px;
	padding: 5px 12px !important;
}
.list-peoples li.list-people-body p {
	font-size: 14px;
	border-bottom: 1px dotted #455964;
	color: #455964;
	margin-top: 10px;
}
.list-peoples .l-action {
	width: 60px;
	display: none;
}
.list-peoples ul li:hover .l-action {
	display: block;
}
.list-peoples .l-action button {
	background: transparent;
	border: 0;
	margin: 7px 2px 0;
	padding: 3px;
}
.list-peoples .l-action button span {
	font-size: 18px;
	color: #8aa4c7;
}
.list-peoples .l-action button span.ws-ws_delete {
	color: #e9262e;
}

.list-people-choose {
	margin: 15px 0 0 0;
	min-height: 34px;
}
.list-people-choose button{
	margin: 0 10px 0 0;
	height: 34px;
	border-radius: 0;
	padding: 0 10px;
	background-color: #fff;
	color: #455964;
	width: 120px;
	text-transform: capitalize;
	text-align: left;
	margin: 5px 10px 5px 0;
}
.list-people-choose button p {
	margin: 0;
	display: inline-block;
	font-size: 14px;
}
.list-people-choose button span:before {
	color: #8aa4c7;
	font-weight: normal;
}
.list-people-choose button span.ws-ws_caret-up {
	float: right;
	font-size: 18px;
}
.list-people-choose button:hover,
.list-people-choose button:focus {
	background-color: #fff;
	color: #455964;
}
.list-people-choose .search-box {
	border: 1px solid #c8d5e6;
	padding: 0 7px;
	display: inline-block;
	margin: 5px 0;
	float: left;
}
.list-people-choose .search-box input {
	border: 0px solid #8aa4c7;
	margin: 0;
	height: 32px;
	line-height: 32px;
}
.list-people-choose .search-box span.ws-ws_search {
	font-size: 16px;
	color: #8aa4c7;
}
.list-people-choose .btn-group .dropdown-toggle {
	border: 1px solid rgb(200, 213, 230) !important;
}
.list-people-choose .group-dropdown-menu-selected {
	display: inline-block;	
	position: relative;
	float: left;
}
.list-people-choose .group-dropdown-menu-selected .dropdown-menu-selected {
	top: calc(100% - 5px);
}
.list-people-choose .group-dropdown-menu-selected button {
	border: 1px solid rgb(200, 213, 230) !important;
}
.list-people-choose .group-dropdown-menu-selected button span.ws-ws_email {
	font-size: 16px;
	position: relative;
	top: 1px;
}
.list-people-choose ul {
	padding: 5px 0px;
	min-width: 180px;
}
.list-people-choose ul li {
	text-align: right;
	margin-bottom: 4px !important;
	padding: 0 10px;
}
.list-people-choose ul li p{
	margin: 0;
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	color: #888;
}
.list-people-choose ul li input:checked ~ p {
	color: #333;
}
.list-people-choose ul li label .label-checkbox{
	position: relative;
	top: 6px;
	margin-left: 5px;
}
.list-people-choose ul li.circle-add {
	text-align: right;
}
.list-people-choose ul li.circle-add p {
	color: #333;
}
.list-people-choose ul li.circle-add button {
	margin: 0;
	display: inline-block;
	background: transparent;
	width: 22px;
	height: 22px;
	font-size: 24px;
	text-align: center;
	padding: 0;
	color: #8aa4c7;
}
.list-people-choose ul li.circle-add button {
	margin: 0;
	display: inline-block;
	background: transparent;
	border: 0;
	width: 22px;
	height: 22px;
	font-size: 24px;
	text-align: center;
	padding: 0;
	color: #8aa4c7;
	position: relative;
	top: 2px;
}